.BannerWrapper{
    // margin-top: 135px;
    background: linear-gradient(111.79deg, #0D5C7C 12.81%, #1386B6 59.37%, #16A6E2 90.55%);
    width: 100%;
    height: auto;
    // max-height: 100%;
    border-bottom-left-radius: 282px;
    padding-top: 115px;
    padding-bottom: 120px;
    .BannerContainer{
     display: flex;
    
    .InfoContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        h1{
            color: #ffffff;
            font-family: 'Helvetica';
            font-style: normal;
            font-weight: 700;
            font-size: 80px;
            line-height: 92px;
        }
        h1 span{
            color: #70CEFA;
        }
        p{
            width: 100%;
            // margin:0 auto;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: #FFF7F7;
        }
    }
    .FrameContainer{
        height: 100%;
        display: flex;
        justify-content: right;
        align-items: center;
        img{
            width: 600.06px;
            height: 550.12px;
            object-fit: contain;
            margin-top: 30px;
        }
    }
}
}

//Responsive Breakpoint

@media(max-width:767px){
    
    .BannerWrapper{
       width: 100%;
        height: auto;
        background: linear-gradient(111.42deg, #0D5C7C -24.4%, #1386B6 44.3%, #16A6E2 90.3%);
        border-radius: 0px 0px 0px 91px;
        padding: 90px 10px;
        .BannerContainer{
         display: flex;
         flex-direction: column;
         gap: 20px;
        .InfoContainer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;
            h1{
                font-family: 'Helvetica';
                font-style: normal;
                font-weight: 700;
                font-size: 42px;
                line-height: 48px;  
                color: #FFFFFF;
            }
            h1 span{
                color: #70CEFA;
            }
            p{
                width: 100%;
                // margin:0 auto;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                color: #FFF7F7;
                text-align: justify;
                
            }
        }
        .FrameContainer{
           display: flex !important;
           align-items: center;
           width: 100%;
            img{
                width: 320.84px;
                height: 260.47px;
                object-fit: contain;
                margin-top: 10px;
            }
        }
    }
    }
}

// IPAD
@media(max-width:1180px) and (min-width:768px){
    
    .BannerWrapper{
       width: 100%;
        height: auto;
        background: linear-gradient(111.42deg, #0D5C7C -24.4%, #1386B6 44.3%, #16A6E2 90.3%);
        border-radius: 0px 0px 0px 91px;
        padding: 90px 10px;
        .BannerContainer{
         display: flex;
         flex-direction: column;
         gap: 20px;
        .InfoContainer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;
            h1{
                font-family: 'Helvetica';
                font-style: normal;
                font-weight: 700;
                font-size: 42px;
                line-height: 48px;  
                color: #FFFFFF;
            }
            h1 span{
                color: #70CEFA;
            }
            p{
                width: 100%;
                // margin:0 auto;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                color: #FFF7F7;
                text-align: justify;
                
            }
        }
        .FrameContainer{
           display: flex !important;
           align-items: center;
           width: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                margin-top: 10px;
            }
        }
    }
    }
}