$primary-color:#DE4F61;
$secondary-color:#653889;
$tertiary-color:#F1BA4B;
$success-color:#00AB55;

$focus-color:#444054;
$danger-color:#DA4150;
$light-color:#EEEEEE;
$dark-color:#5c5c5c;

$side-bar-color:#109de7;
$secondary-text:#DE4F61;

$focus-color-opacity:rgba(68, 64, 84,.9);
$dark-color-opacity:rgba(52, 58, 64,.8);
$primary-color-opacity:rgba(85, 92, 215,.8);
$header-background:#FFFFFF;


$bg-color:rgba(224, 224, 224, 1);

$white-color:#fff;
$black-color:#000;

$primary-table-header:#DE4F61;
//$table-content: rgba(224, 224, 224, .84);


$primary-btn:#3981EC;
$primary-btn-hover:#59B7FF;

$success-btn:#00AB55;
$success-btn-hover:#0bc163;